:root {
    font-size: 18px;
    --white: #ffffff; 
    --white10: #616161;
    --white20: #424242;
    --textWhite: #A5A3A5;
    --dark: #251F24;
    --softDark: #3A3539;
}

::selection {
    background-color: #f5edd4;
}

body {
    color: var(--white);
    font-family: 'Nunito', sans-serif;
    background: var(--dark);
    margin: 0;
}

a {
    color: var(--white);
    
}

header {
    font-size: 14px;
    color: var(--textWhite);
    /* top:  */
    /* inset-block-start: 65px; */
    /* bottom: ; */
    /* inset-block-end: ; */
    /* left */
    /* right: ; */
    /* inset-inline-end:; */
}

header a {
    font-size: 14px;
    color: var(--textWhite);
    text-decoration: none;
}

header li {
    margin-block-end: 1rem;
}

header a:hover{
    color: var(--white);
}

nav details summary {
    color: var(--white);
    font-weight: bold;
}

h1 {
    font-size: 2.5rem;
    margin-block-start: 1rem;
    margin-block-end: 16px;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
    font-weight: 600;
    margin-block: 16px;
}

hr {
    margin-block: 40px;
    border-color: var(--white20);
}

pre {
    background-color: var(--softDark);
    padding: 2.5rem;
    overflow: auto;
    border: .5rem solid #5551ff;
    box-shadow: -10px 10px 0 0 #abaaf6;
    margin-block-end: 2rem;
    border-start-start-radius: .5rem;
    border-start-end-radius: .5rem;
    border-end-start-radius: .5rem;
    border-end-end-radius: .5rem;
}

p {
    color: var(--textWhite);
}

code {
    background: var(--white10);
    font-size: .9rem;
    color: var(--gray);
    padding: .2rem;
    border-radius: .5rem;
}

blockquote {
    margin-block-start: 80px;
    margin-block-end: 63px;
    background: var(--softDark);
    border-radius: 8px;
    padding-inline-end: 1.5rem;
    padding-inline-start: 1.5rem;
    padding-block-start: 1.5rem;
    padding-block-end: 1.5rem;
    line-height: 2rem;
    font-size: 1.5rem;
}

footer {
    margin-inline-start: 1rem;
    text-align: center;
}

.form input {
    inline-size: 100%;
    border: 1px solid var(--white);
    box-sizing: border-box;
    background-color: var(--softDark);
    border-radius: .5rem;
    padding-inline: 1rem;
    padding-block: .7rem;
    color: var(--white);
    display: block;
    margin-block-end: 1.5rem;
    font-family: 'Nunito', sans-serif;
}

.form input::-webkit-input-placeholder {
    color: var(--textWhite);
}

.form input[type="submit"] {
    background-color: #5551ff;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

.header {
    padding-inline: 1rem;
    padding-block-end: 1rem;
}

.header-content {
    position: relative;
    margin-block-start: 1.5rem;
}

.hero {
    /* background: red url('../img/png/patron-1.png'); */
    background: linear-gradient(96.07deg, #314755 30.63%, #26A0DA 102.18%);
    /* Propiedades adicionales */
    /* background-repeat: no-repeat;
    background-position: left 50px bottom 50px;
    background-size: cover; */
    block-size: 50px;
}

.main-content {
    padding-inline: 1rem;
}

.section-content{
    counter-reset: titleList;
}

.section-content h3 {
    counter-increment: titleList;
}

.section-content h3::before {
    content: counter(titleList, decimal)". ";
}

.section-content h3::after {
    content: '';
    width: 32px;
    height: 4px;
    background: var(--white20);
    display: block;

}

.section-content img {
    margin-block-start: 40px;
    display: block;
    max-inline-size: 100%;
}

.section-content details {
    margin-block-start: 1rem;
    cursor: pointer;
}

.wrapper{
    /*La propiedad Inline size es 
    igual al width en valores lógicos*/ 
    max-inline-size: 902px;
    margin: auto;
}

.slider-container {
    display: block;
    overflow: hidden;
    scroll-behavior: smooth;
    white-space: nowrap;
    border-radius: .5rem;
    border: .3rem solid #5551ff;
    box-shadow: -5px 5px 0 0 #abaaf6;
    font-size: 0;
}
  
.slider-video {
    inline-size: 100%;
    display: inline-block;
    margin: 0;
    height: auto;
    aspect-ratio: 16/9;
}

.slider-bullet {
    display: inline-block;
    inline-size: 15px;
    block-size: 15px;
    background-color: var(--white);
    border-radius: 50%;
}

.slider-bullet:hover {
    background-color: var(--white10);
}

.slider-bullet-list {
    text-align: center;
    margin-block-start: 1rem;
}

.slider-bullet-list a {
    margin-inline: .5rem;
}



#trucazos {
    border-radius: 2rem;
    border: .3rem solid #5551ff;
    box-shadow: -5px 5px 0 0 #abaaf6;
    margin-inline: auto;
}

/*---------------------------------------/
| RESPONSIVE DESIGN 
----------------------------------------*/
/* 
Afecta a pantallas desde 700px en adelante 
Pensando en mobile first 
*/
@media screen and (min-width: 1366px) {
    h1 {
        font-size: 60px;
        margin-block-start: 64px;
        margin-block-end: 16px;
    }
    header {
        position: absolute;
        inset-inline-start: -208px;
        inline-size: 188px;
    }
    .header {
        position: sticky;
        inset-block-start: -45px;
        padding-inline: 0;
        padding-block-end: 0;
    }
    
    .header-content {
        position: relative;
        inset-block-start: 65px;
        margin-block-start: 0;
    }
    .hero {
        /* background: red url('../img/png/patron-1.png'); */
        background: linear-gradient(96.07deg, #314755 30.63%, #26A0DA 102.18%);
        /* Propiedades adicionales */
        /* background-repeat: no-repeat;
        background-position: left 50px bottom 50px;
        background-size: cover; */
        height: 350px;
    }
    
}

/* 
Afecta a pantallas hasta 700px 
Pensando en desktop first 
*/
/* @media screen and (max-width: 700px) {
    
} */
